<div class="footer">
    <div class="socials-in-footer">
        <div class="footer-socials w-dyn-list">
            <div role="list" class="footer-social-list w-dyn-items">
                <div role="listitem" class="footer-social-item w-dyn-item"><a href="{{footer.twitter}}"
                        class="moving-link w-inline-block"><img
                            src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62530e0b95e36cefd17a0041_twitter-logo-white.svg"
                            loading="lazy" alt="" class="moving-icon" />
                        <div class="moving-link-circle"></div>
                    </a></div>
                <div role="listitem" class="footer-social-item w-dyn-item"><a href="{{footer.facebook}}"
                        class="moving-link w-inline-block"><img
                            src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62530e1178c1b122e497e2a5_facebook-logo-white.svg"
                            loading="lazy" alt="" class="moving-icon" />
                        <div class="moving-link-circle"></div>
                    </a></div>
                <div role="listitem" class="footer-social-item w-dyn-item"><a href="{{footer.instagram}}"
                        class="moving-link w-inline-block"><img
                            src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62530e183660db0a309e3e2b_instagram-logo-white.svg"
                            loading="lazy" alt="siteconsult_instagram" class="moving-icon" />
                        <div class="moving-link-circle"></div>
                    </a></div>
            </div>
        </div>
    </div>
    <div class="main-footer-section">
        <div class="container">
            <div class="footer-grid">
                <div data-w-id="d62e26df-37e4-4b14-0317-bb32561c8b65" class="footer-column-1"><a href="/"
                        aria-current="page" class="footer-link w-inline-block w--current">
                        <p class="footer-link-title">Home</p>
                        <div class="footer-link-line"></div>
                    </a><a href="/solutions-1" class="footer-link w-inline-block">
                        <p class="footer-link-title">Solutions</p>
                        <div class="footer-link-line"></div>
                    </a><a href="/services-1" class="footer-link w-inline-block">
                        <p class="footer-link-title">Services</p>
                        <div class="footer-link-line"></div>
                    </a><a href="/projects-1" class="footer-link w-inline-block">
                        <p class="footer-link-title">Projects</p>
                        <div class="footer-link-line"></div>
                    </a>
                    <div class="footer-border-line is-1st"></div>
                </div>
                <div data-w-id="d62e26df-37e4-4b14-0317-bb32561c8b7b" class="footer-column-1"><a href="/company-1"
                        class="footer-link w-inline-block">
                        <p class="footer-link-title">Company</p>
                        <div class="footer-link-line"></div>
                    </a><a href="/testimonials" class="footer-link w-inline-block">
                        <p class="footer-link-title">Testimonials</p>
                        <div class="footer-link-line"></div>
                    </a><a href="/gallery" class="footer-link w-inline-block">
                        <p class="footer-link-title">Gallery</p>
                        <div class="footer-link-line"></div>
                    </a><a href="/contact-1" class="footer-link w-inline-block">
                        <p class="footer-link-title">Contact</p>
                        <div class="footer-link-line"></div>
                    </a>
                    <div class="footer-border-line is-2nd"></div>
                </div>
                <div id="w-node-d62e26df-37e4-4b14-0317-bb32561c8b91-561c8b57" class="footer-column-3">
                    <div class="footer-contect-block">
                        <div>
                            <p class="footer-about-text">You can contact us through phone or email. We are
                                ready to help you.</p>
                        </div>
                        <div class="footer-contact-links"><a href="mailto:{{footer.footerEmail}}" class="footer-small-link w-inline-block">
                            <p class="footer-contact-text">{{footer.footerEmail}}</p>
                            </a><a href="tel:{{footer.footerPhonenumber}}" class="footer-small-link w-inline-block">
                                <p class="footer-contact-text">{{footer.footerPhonenumber}}</p>
                            </a></div>
                    </div><a href="/contact-1" class="footer-address-button w-inline-block">
                        <p class="footer-uppercase-title">Office</p>
                        <p class="footer-address">{{footer.footerLocation}}</p>
                        <div class="address-pattern"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="subfooter">
        <div class="container">
            <div class="subfooter-inner">
                <div id="w-node-_8137663d-4316-5de2-dc0c-31323dc8a383-561c8b57" class="subfooter-column"> <p class="copyright">&copy; {{ now|date('Y') }},All rights reserved. Site consult steel and construction</div>
                <div id="w-node-_8137663d-4316-5de2-dc0c-31323dc8a38d-561c8b57" class="subfooter-button-outer-1"><a
                        href="https://dimetechgroup.com" target="_blank" class="powered-by-webflow-link w-inline-block">
                        <p class="webflow-text">Powered by Dimetech group</p>
                    </a></div>

            </div>
        </div>
    </div>
</div>