{% extends "layout/main.twig" %}
{% block content%}
<body>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-brand">
                {% set logo = header.logo.one() %}
                    {% if logo %}
                        <img src="{{ logo.url }}" loading="lazy" alt="" class="preloader-logo" alt="logo" />
                    {% endif %}
            </div>
            <div class="preloader-line"></div>
            <div class="preloader-content">
                <div class="preloader-title-overflow">
                    <p class="preloader-content-title is-1st">Site consult steel</p>
                </div>
                <div class="preloader-title-overflow">
                    <p class="preloader-content-title is-2nd">construction </p>
                </div>
                <div class="preloader-title-overflow">
                    <p class="preloader-content-title is-3rd">Reliability. Integrity. Innivation</p>
                </div>
            </div>
        </div>
        <p class="preloader-loading">Loading</p>
        <div class="preloader-background"></div>
    </div>
    <div id="webpage" style="display:none" class="page-wrapper">
        <div class="global-styles w-embed"></div>

        <div class="second-navbar"><a href="#" class="aside-contact-button w-inline-block">
                <img src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131bac44e22abdd9e8ce_email_white_24dp.svg"
                    loading="lazy" alt="" class="aside-icon" /></a>
            <a href="#solutions" class="scroll-to-button w-inline-block">
                <div class="aside-button-line"></div>
                <img src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/625319874a18755529409557_expand_more_white_24dp.svg"
                    loading="lazy" alt="" class="icon-scroll-to" />
            </a>
            <a href="#webpage" class="right-menu-button is-goes-up w-inline-block"><img
                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62587db8e356a3457738948a_expand_less_white_24dp.svg"
                    loading="lazy" alt="" class="goes-up-icon" />
            </a>
        </div>
        <main class="main">
            <!--hero section-->
            <section class="section page-hero-sec wf-section">
                <div class="hero-2-header">
                    <div class="container">
                        <div class="hero-2-flex">
                            <div class="hero-2-content">
                                <p class="hero-top-title">{{entry.heroSubtitle}}</p>
                                <h1 class="heading is-hero-2-title-1"><span class="opacity-70">{{ entry.heroTitle}}</h1>
                            </div>
                        </div>

                    </div>
                    <div class="absolute-block">
                        <div class="sticky-100vh-block">
                            <div class="hero-bg-color"></div>
                            <div class="hero-bg-gradient"></div>
                            <div data-poster-url="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530bf395e36ce05679e8b9_pexels-kindel-media-7578545 (1)-poster-00001.jpg"
                                data-video-urls="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530bf395e36ce05679e8b9_pexels-kindel-media-7578545 (1)-transcode.mp4,https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530bf395e36ce05679e8b9_pexels-kindel-media-7578545 (1)-transcode.webm"
                                data-autoplay="true" data-loop="true" data-wf-ignore="true"
                                data-beta-bgvideo-upgrade="false"
                                class="video-background w-background-video w-background-video-atom"><video
                                    id="a6dcdffa-14ca-ece7-a606-7e0b34a6a30a-video" autoplay="" loop=""
                                    style="background-image:url(&quot;https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530bf395e36ce05679e8b9_pexels-kindel-media-7578545 (1)-poster-00001.jpg&quot;)"
                                    muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                    <source
                                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530bf395e36ce05679e8b9_pexels-kindel-media-7578545 (1)-transcode.mp4"
                                        data-wf-ignore="true" />
                                    <source
                                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530bf395e36ce05679e8b9_pexels-kindel-media-7578545 (1)-transcode.webm"
                                        data-wf-ignore="true" />
                                </video></div>
                        </div>
                    </div>
                </div>
                <div class="hero-absolute-block">
                    <div class="hero-sticky-block">
                        <div class="w-dyn-list">
                            <div role="list" class="hero-socials-list in-hero-2 w-dyn-items">
                                <div role="listitem" class="w-dyn-item"><a href="/socials/youtube"
                                        class="social-link-block w-inline-block"><img
                                            src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62530e0b95e36cefd17a0041_twitter-logo-white.svg"
                                            loading="lazy" alt="" class="moving-icon" />
                                        <div style="border-color:red" class="moving-link-circle"></div>
                                    </a></div>
                                <div role="listitem" class="w-dyn-item"><a href="/socials/facebook"
                                        class="social-link-block w-inline-block"><img
                                            src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62530e1178c1b122e497e2a5_facebook-logo-white.svg"
                                            loading="lazy" alt="" class="moving-icon" />
                                        <div style="border-color:#1877f2" class="moving-link-circle"></div>
                                    </a></div>
                                <div role="listitem" class="w-dyn-item"><a href="/socials/instagram"
                                        class="social-link-block w-inline-block"><img
                                            src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62530e183660db0a309e3e2b_instagram-logo-white.svg"
                                            loading="lazy" alt="" class="moving-icon" />
                                        <div style="border-color:#833ab4" class="moving-link-circle"></div>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end of hero section-->

            <!--About section-->
            <section class="section overflow-visible wf-section">
                <div class="container">
                    <div class="padding-inner">
                        <div class="max-width-1">
                            <p class="uppercase-title-border">About us</p>
                            <h4 data-w-id="250f4770-b3a7-e380-b64b-0ab02a3f5525" style="opacity:0"
                                class="heading is-content-title-2">precision and tenacity to provide building and home
                                solutions and services</h4>
                        </div>
                        <div class="content-grid-1">
                            <div id="w-node-b5922f5a-0b88-2202-ca2a-2313e26f7f1f-d68d3dd3" class="content-block-5">
                                <p id="w-node-a51d6f26-c4b1-3e87-97e3-18981062399c-d68d3dd3"
                                    data-w-id="a51d6f26-c4b1-3e87-97e3-18981062399c" style="opacity:0"
                                    class="content-text-1">{{entry.aboutText}}</p>
                                <div class="buttons-wrap">
                                    <div class="button-overlap-4"><a href="/about_us"
                                            class="main-button w-inline-block">
                                            <div class="button-inner">
                                                <p class="button-title">Learn More</p><img
                                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                    loading="lazy" alt="" class="button-icon" />
                                            </div>
                                            <div class="button-pattern"></div>
                                        </a></div>
                                    <div class="button-overlap-2"><a href="/contact" class="text-link">Contact us</a>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_7cbb90d0-b3bd-6698-545a-651a1a08c493-d68d3dd3" class="content-block-6">
                                <div class="custom-list-1">
                                    <div class="list-block">
                                        <div class="circle-in-list">
                                            <div class="circle-background"></div><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252bb412800cf41d28e2179_done_white_24dp.svg"
                                                loading="lazy" alt="" class="custom-list-icon" />
                                        </div>
                                        <div class="list-content">
                                            <p class="list-title">Experienced team</p>
                                            <p class="list-text">Duis cursus, mi quis viverra ornare, eros dolor
                                                interdum nulla, ut commodo diam libero.</p>
                                        </div>
                                        <div class="list-line"></div>
                                    </div>
                                    <div class="list-block">
                                        <div class="circle-in-list">
                                            <div class="circle-background"></div><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252bb412800cf41d28e2179_done_white_24dp.svg"
                                                loading="lazy" alt="" class="custom-list-icon" />
                                        </div>
                                        <div class="list-content">
                                            <p class="list-title">Certified employes</p>
                                            <p class="list-text">Aenean faucibus nibh et justo cursus id rutrum lorem
                                                imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                                        </div>
                                        <div class="list-line"></div>
                                    </div>
                                    <div class="list-block">
                                        <div class="circle-in-list">
                                            <div class="circle-background"></div><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252bb412800cf41d28e2179_done_white_24dp.svg"
                                                loading="lazy" alt="" class="custom-list-icon" />
                                        </div>
                                        <div class="list-content">
                                            <p class="list-title">Trusted company</p>
                                            <p class="list-text">Duis cursus, mi quis viverra ornare, eros dolor
                                                interdum nulla, ut commodo diam libero.</p>
                                        </div>
                                        <div class="list-line"></div>
                                    </div>
                                    <div class="list-block">
                                        <div class="circle-in-list">
                                            <div class="circle-background"></div><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252bb412800cf41d28e2179_done_white_24dp.svg"
                                                loading="lazy" alt="" class="custom-list-icon" />
                                        </div>
                                        <div class="list-content">
                                            <p class="list-title">In-house team</p>
                                            <p class="list-text">Aenean faucibus nibh et justo cursus id rutrum lorem
                                                imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                                        </div>
                                        <div class="list-line"></div>
                                    </div>
                                    <div class="list-block is-last">
                                        <div class="circle-in-list"><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252bb412800cf41d28e2179_done_white_24dp.svg"
                                                loading="lazy" alt="" class="custom-list-icon" />
                                            <div class="circle-background"></div>
                                        </div>
                                        <div class="list-content">
                                            <p class="list-title">Guarantee of quality work</p>
                                            <p class="list-text">Duis cursus, mi quis viverra ornare, eros dolor
                                                interdum nulla, ut commodo diam libero.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end of about section-->

            <!--services section-->
            <section id="solutions" class="section wf-section">
                <div class="container">
                    <div class="services-padding">
                        <div data-w-id="decb06f4-927c-e1a0-b9cc-9bae23979260" class="max-width-2">
                            <p class="uppercase-title-border">Services</p>
                            <h3 class="heading is-content-title-5">We specialising in renovations &amp; extensions.
                                <span class="opacity-70">Aim to details.</span>
                            </h3>
                            <div class="moving-button-trigger">
                                <a href="/services-1" class="main-button w-inline-block">
                                    <div class="button-inner">
                                        <p class="button-title">About services</p>
                                        <img src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                            loading="lazy" alt="" class="button-icon" />
                                    </div>
                                </a>
                            </div>
                        </div>

                        <section class="section wf-section">
                            <div class="solution-cms-2 w-dyn-list">
                                <div role="list" class="solution-cms-2-list w-dyn-items">
                                    {% for service in entry.services.all() %}
                                    {% set photo = service.serviceImage.one() %}
                                    <div role="listitem" class="solution-cms-2-item-2 w-dyn-item">
                                        <div class="solution-cms-2-content">
                                            <p data-w-id="e6058060-069d-7f12-7ef0-6b7910081202" class="solution-cms-2-title">
                                                {{service.serviceTitle}}
                                             </p>
                                            <p data-w-id="e6058060-069d-7f12-7ef0-6b7910081203"
                                                class="solution-cms-3-desciption">{{service.serviceDescription}}</p>
                                            <div class="moving-button-trigger">
                                                <a href="{{service.serviceUrl}}" class="main-button w-inline-block">
                                                    <div class="button-inner">
                                                        <p class="button-title">Read More</p>
                                                        <img src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                            loading="lazy" alt="read_more" class="button-icon" />
                                                    </div>
                                                </a>
                                            </div>
                                            </a>
                                        </div>
                                        <div id="w-node-e6058060-069d-7f12-7ef0-6b7910081208-2e158690"
                                            class="solution-cms-2-image">
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image">
                                                    <div class="animation-color-bg"></div><img
                                                        src="{{photo.url}}"
                                                        loading="lazy" alt="{{service.serviceTitle}}"
                                                        sizes="(max-width: 479px) 78vw, (max-width: 767px) 60vw, (max-width: 991px) 28vw, 31vw"
                                                        srcset="{{photo.url}}"
                                                        class="cover-image" />
                                                </div>
                                            </div>
                                        </div>
                                        <div data-w-id="e6058060-069d-7f12-7ef0-6b791008120d"
                                            class="w-layout-grid chessboard-for-solution">
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 in-mob"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-10-opacity phone-hide"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-10-opacity phone-hide"></div>
                                            <div class="chessboard-2"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless phone-border"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-borderless"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2 is-borderless phone-visible"></div>
                                            <div class="chessboard-2 is-borderless phone-visible"></div>
                                            <div class="chessboard-2 is-borderless phone-border"></div>
                                            <div class="chessboard-2"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2"></div>
                                            <div class="chessboard-2"></div>
                                            <div class="chessboard-2 is-borderless phone-border"></div>
                                            <div class="chessboard-2 is-borderless phone-border"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2 is-borderless phone-border"></div>
                                            <div class="chessboard-2 is-borderless phone-border"></div>
                                            <div class="chessboard-2 is-10-opacity"></div>
                                            <div class="chessboard-2"></div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </section>
            <!--end of services section-->

            <!--projects-->
            <section id="start" class="section wf-section">
                <div class="container">
                    <div class="content-padding">
                        <div data-w-id="b479ba17-3d09-4dee-ac08-28c98b603fde" class="max-width-6">
                            <p class="uppercase-title-border">Projects</p>
                            <h2 class="heading is-content-title-5">We realized <span class="opacity-70">more than</span>
                                100+ constructions</h2>
                            <div class="moving-button-trigger"><a href="/projects-1" class="main-button w-inline-block">
                                    <div class="button-inner">
                                        <p class="button-title">All projects</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                            loading="lazy" alt="" class="button-icon" />
                                    </div>
                                    <div class="button-pattern"></div>
                                </a></div>
                        </div>
                        <div class="projects-with-lines">
                            <div class="projects-cms w-dyn-list">
                                <div role="list" class="project-cms-grid w-dyn-items">
                                {%set  projects = craft.entries.section('projects').limit(4) %}
                                 {% for project in projects %}
                                    <div role="listitem" class="project-cms-item w-dyn-item"><a
                                            href="/project/luxury-house-renovation"
                                            class="project-link-block w-inline-block">
                                            <div class="project-link">
                                                <div class="project-name-overlap">
                                                    <p class="project-name">{{ project.projectName }}</p>
                                                </div><img
                                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                                    loading="lazy" alt="" class="project-icon" />
                                                <div class="project-bg-1"></div><img
                                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                    loading="lazy" alt="" class="project-icon-for-hover" />
                                                <div class="project-bg-2"></div>
                                                <div class="project-link-lines">
                                                    <div class="project-line-1"></div>
                                                    <div class="project-line-2"></div>
                                                </div>
                                            </div>
                                            <div data-w-id="d70cfb5d-99e3-cdb0-3489-d0ed3a9d8d4c" style="opacity:0"
                                                class="project-gradient-bg"></div>
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image">
                                                    <div class="animation-color-bg is-white-color"></div><img
                                                        src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213.jpg"
                                                        loading="lazy" alt="Luxury house renovation" sizes="45vw"
                                                        srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213-p-1600.jpeg 1600w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213.jpg 1920w"
                                                        class="cover-image" />
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <div class="blue-lines---middle">
                                <div class="blue-line-1"></div>
                                <div class="blue-line-2"></div>
                            </div>
                            <div class="blue-lines---middle-right">
                                <div class="blue-line-1"></div>
                                <div class="blue-line-2"></div>
                            </div>
                            <div class="blue-lines---middle-left">
                                <div class="blue-line-1"></div>
                                <div class="blue-line-2"></div>
                            </div>
                            <div class="blue-lines---corner-left-2">
                                <div class="blue-line-1"></div>
                                <div class="blue-line-2"></div>
                            </div>
                            <div class="blue-lines---corner-left">
                                <div class="blue-line-1"></div>
                                <div class="blue-line-2"></div>
                            </div>
                            <div class="blue-lines---corner-right">
                                <div class="blue-line-1"></div>
                                <div class="blue-line-2"></div>
                            </div>
                            <div class="blue-lines---corner-right-2">
                                <div class="blue-line-1"></div>
                                <div class="blue-line-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end of projects  section-->

            <!-- summary-->
            <section class="section wf-section">
                <div class="w-layout-grid grid-2">
                    <div id="w-node-f5cf92aa-2b80-10e1-54ea-7128b6967dba-d68d3dd3" class="content-grid-block-1"><img
                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f05e1b9e1160a4478ae6_holiday_village_white_24dp.svg"
                            loading="lazy" style="opacity:0" data-w-id="f5cf92aa-2b80-10e1-54ea-7128b6967dbb" alt=""
                            class="grid-icon-large" />
                        <div class="grid-main-bg"></div>
                    </div>
                    <div id="w-node-f5cf92aa-2b80-10e1-54ea-7128b6967dbd-d68d3dd3" class="content-grid-block-1">
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image">
                                <div class="animation-color-bg"></div><img
                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62601572f00cd161b18f028b_pexels-andrea-piacquadio-3760529.jpg"
                                    loading="lazy"
                                    srcset="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62601572f00cd161b18f028b_pexels-andrea-piacquadio-3760529-p-500.jpeg 500w, https://assets.website-files.com/625295532800cfe2dd8d3dd2/62601572f00cd161b18f028b_pexels-andrea-piacquadio-3760529-p-800.jpeg 800w, https://assets.website-files.com/625295532800cfe2dd8d3dd2/62601572f00cd161b18f028b_pexels-andrea-piacquadio-3760529-p-1080.jpeg 1080w, https://assets.website-files.com/625295532800cfe2dd8d3dd2/62601572f00cd161b18f028b_pexels-andrea-piacquadio-3760529.jpg 1920w"
                                    sizes="100vw" alt="Construction and renovation webflow template sample image"
                                    class="cover-image" />
                            </div>
                        </div>
                    </div>
                    <div id="w-node-f5cf92aa-2b80-10e1-54ea-7128b6967dc2-d68d3dd3" class="content-grid-block-1">
                        <p class="company-title-2 is-white">20 years <span class="light-weight">on the market</span></p>
                        <div class="grid-main-bg different-color-on-tab"></div>
                    </div>
                    <div id="w-node-f5cf92aa-2b80-10e1-54ea-7128b6967dc8-d68d3dd3" class="content-grid-block-1">
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image">
                                <div class="animation-color-bg"></div>
                                <div data-poster-url="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530c022800cf8b85907122_pexels-kindel-media-7578551 (1)-poster-00001.jpg"
                                    data-video-urls="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530c022800cf8b85907122_pexels-kindel-media-7578551 (1)-transcode.mp4,https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530c022800cf8b85907122_pexels-kindel-media-7578551 (1)-transcode.webm"
                                    data-autoplay="true" data-loop="true" data-wf-ignore="true"
                                    data-beta-bgvideo-upgrade="false"
                                    class="cover-image w-background-video w-background-video-atom"><video
                                        id="3249001c-43f1-0b68-39a4-7c8280cc1c3c-video" autoplay="" loop=""
                                        style="background-image:url(&quot;https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530c022800cf8b85907122_pexels-kindel-media-7578551 (1)-poster-00001.jpg&quot;)"
                                        muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                        <source
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530c022800cf8b85907122_pexels-kindel-media-7578551 (1)-transcode.mp4"
                                            data-wf-ignore="true" />
                                        <source
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/62530c022800cf8b85907122_pexels-kindel-media-7578551 (1)-transcode.webm"
                                            data-wf-ignore="true" />
                                    </video></div>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-f5cf92aa-2b80-10e1-54ea-7128b6967dcd-d68d3dd3"
                        class="content-grid-block-3 with-bg-blue">
                        <div class="company-content is-white-color">
                            <p data-w-id="f5cf92aa-2b80-10e1-54ea-7128b6967dcf" style="opacity:0" class="company-title">
                                100+ projects</p>
                            <p data-w-id="f5cf92aa-2b80-10e1-54ea-7128b6967dd1" style="opacity:0"
                                class="company-subtitle">We are a leading <span class="opacity-70">construction and
                                    renovation company</span></p>
                        </div>
                        <div class="company-content is-white-color">
                            <p data-w-id="f5cf92aa-2b80-10e1-54ea-7128b6967dd6" style="opacity:0" class="company-title">
                                80+ clients</p>
                            <p data-w-id="f5cf92aa-2b80-10e1-54ea-7128b6967dd8" style="opacity:0"
                                class="company-subtitle">Testimonials from our clients <span class="opacity-70">are a
                                    guarantee of quality work</span></p>
                        </div>
                        <div class="grid-main-bg with-opacity"></div>
                        <div data-w-id="f5cf92aa-2b80-10e1-54ea-7128b6967ddd" style="opacity:0"
                            class="background-pattern"></div>
                    </div>
                    <div id="w-node-f98181f1-b99f-99b7-e471-7eb6d3b3e5af-d68d3dd3" class="content-grid-block-2">
                        <div class="grid-content-2"><img
                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6267a852d36c71e9401837c4_chat_FILL0_wght400_GRAD0_opsz48_blue.svg"
                                loading="lazy" alt="" class="grid-icon-2" />
                            <p class="grid-content-3">Excellent reputation with over 25 years of renovation experience
                            </p>
                        </div>
                    </div>
                    <div id="w-node-_516e4c6c-f6a4-5008-968c-2b0cc598b9fa-d68d3dd3" class="content-grid-block-2">
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image">
                                <div class="animation-color-bg"></div><img
                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6260157385d08d520bc7f912_pexels-rodolfo-quir%C3%B3s-2219024.jpg"
                                    loading="lazy"
                                    srcset="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6260157385d08d520bc7f912_pexels-rodolfo-quir%C3%B3s-2219024-p-500.jpeg 500w, https://assets.website-files.com/625295532800cfe2dd8d3dd2/6260157385d08d520bc7f912_pexels-rodolfo-quir%C3%B3s-2219024-p-800.jpeg 800w, https://assets.website-files.com/625295532800cfe2dd8d3dd2/6260157385d08d520bc7f912_pexels-rodolfo-quir%C3%B3s-2219024-p-1080.jpeg 1080w, https://assets.website-files.com/625295532800cfe2dd8d3dd2/6260157385d08d520bc7f912_pexels-rodolfo-quir%C3%B3s-2219024.jpg 1920w"
                                    sizes="100vw" alt="Construction and renovation webflow template sample image"
                                    class="cover-image" />
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_15d944a1-f895-8b5f-5482-2f81fdfdce88-d68d3dd3" class="content-grid-block-2">
                        <div class="grid-content-2"><img
                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6267a8520ac4d079ebedd740_domain_FILL0_wght400_GRAD0_opsz48_blue.svg"
                                loading="lazy" alt="" class="grid-icon-2" />
                            <p class="grid-content-3">We are a leading construction company in London</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--end of summary section-->

            <!--logo section-->
            <section class="section wf-section">
                <div class="container">
                    <div class="padding-inner">
                        <div class="content-block-logos">
                            <p class="uppercase-title-border">Clients</p>
                            <h5 class="heading is-brand-title">They trusted us we delivered</h5>
                        </div>
                        <div class="brands w-dyn-list">
                            <div data-w-id="6962c5e0-33b2-495b-d0fa-c872f005e478" style="opacity:0" role="list"
                                class="brands-grid w-dyn-items">
                                {% for client in entry.clientLogos.all() %}
                                <div role="listitem" class="brand-item w-dyn-item"><a href="#"
                                        class="brand-link-block w-inline-block"><img
                                            src="{{client.url}}"
                                            loading="lazy" alt="{{client.filename}}" class="brands-logo" /></a>
                                    <div class="corner-lines">
                                        <div class="corner-line-1"></div>
                                        <div class="corner-line-2"></div>
                                        <div class="corner-line-3"></div>
                                        <div class="corner-line-4"></div>
                                        <div class="corner-line-5"></div>
                                        <div class="corner-line-6"></div>
                                        <div class="corner-line-7"></div>
                                        <div class="corner-line-8"></div>
                                    </div>
                                </div>
                                {% endfor %}
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!--end of logo section-->

            <section class="section cta-content-1 wf-section">
                <div class="container is-cta-container">
                    <div class="w-layout-grid content-grid-4">
                        <div class="content-padding-2">
                            <div class="content-flex-1">
                                <p data-w-id="c4442ee1-5837-2ede-b004-647ecf03e420" class="uppercase-title-border">
                                    Contact</p>
                                <h2 data-w-id="c4442ee1-5837-2ede-b004-647ecf03e422" class="heading is-cta-title-1">
                                    Reach out today and start this amazing journey with us</h2>
                                <div class="two-buttons-1">
                                    <div class="button-overlap-6"><a href="/contact-1"
                                            class="main-button w-inline-block">
                                            <div class="button-inner">
                                                <p class="button-title">Contact</p><img
                                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                    loading="lazy" alt="" class="button-icon" />
                                            </div>
                                            <div class="button-pattern"></div>
                                        </a></div><a data-w-id="c4442ee1-5837-2ede-b004-647ecf03e427"
                                        href="/testimonials" class="second-button w-inline-block">
                                        <div class="button-inner-2">
                                            <p class="button-title is-black">Clients say</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-c4442ee1-5837-2ede-b004-647ecf03e42b-cf03e41b"
                            data-w-id="c4442ee1-5837-2ede-b004-647ecf03e42b" class="height-120-per">
                            <div class="_3d-block is-visible">
                                <div class="image-animation-trigger _3d-for-image-visible">
                                    <div class="animation-color-bg"></div><img
                                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6255b4f7da0cd98b7ff456cd_pexels-max-vakhtbovych-6958122.jpg"
                                        loading="lazy" alt="Construction and renovation webflow template sample image"
                                        class="cover-image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blue-95-background"></div>
            </section>

            <!--footer section-->


            <!-- end of footer -->
        </main>
    </div>
    <script src="{{siteUrl}}jquett.js"
        type="text/javascript" 
        crossorigin="anonymous"></script>
    <script src="{{siteUrl}}flow.js"
        type="text/javascript"></script>


</body>
{% endblock %}
